<% if object.errors.any? %>
  <div id="error-explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <!-- should be putting the errors messages in a list form. Right now
        they are side by side. A minor format annoyance. hard to read -->
        <li>* <%= msg %></li>
      <% end %>
    </ul>
    
  </div>
<% end %>

